/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1a2c4a !important;
  flex: 1;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 10px;
  height: 100vh;
}
