/* You can add global styles to this file, and also import other style files */
.bg {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
